<form (ngSubmit)="onSubmit()">
    <div id="flex-container-row">
        <div id="flex-child-heading">
            <input [(ngModel)]="title" name="title" type="text" class="border border-left-0 border-right-0 border-top-0 border-dark text-dark h4" placeholder="Enter Journal Title">
        </div>
        <div id="flex-child-buttons">
            <input type="submit" *ngIf="!journalSelected" class="btn btn-outline-dark btn-sm ml-3" value="Add Entry">
            <button *ngIf="journalSelected" class="btn btn-outline-dark btn-sm ml-3">Update Entry</button>
            <button *ngIf="journalSelected" class="btn btn-outline-dark btn-sm ml-3">Delete Entry</button>
        </div>
    </div>
    <textarea [(ngModel)]="content" name="content" id="journal-textarea" class="rounded text-dark h-100"></textarea>
</form>