#flex-container-row
    display: flex
    flex-direction: row
    flex-wrap: nowrap

#flex-child-heading
    flex-grow: 1
    input
        display: block
        width: 100%

#flex-child-buttons
    flex-grow: 0


#journal-textarea
    width: 100%
    border: none
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3)
    padding: 10px

form
    display: flex
    flex-direction: column
    height: 100%