#flexbox-container-col
    display: flex
    flex-direction: column
    height: 100%
#flexbox-container-row
    height: 100%
    overflow: hidden
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 0px 10px 10px 10px
#journal-list
    flex-grow: 1
    width: 100%
    max-height: 50%
    margin-bottom: 10px
#editor
    width: 100%
    flex-grow: 1

@media only screen and (min-width: 576px) 
    #flexbox-container-row
        display: flex
        flex-direction: row
    #journal-list
        max-height: 100%
        width: 50%
        margin-bottom: 0px
        margin-right: 10px
    #editor
        margin-left: 10px
        width: 50%